// Boîtier technique NU
.w-notes {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__content {
        flex: 1;
        margin-top: 15px;
    }

    &__textarea {
        width: 100%;
        height: 150px;
        background: transparent !important;
        border: none !important;
        resize: none;
        outline: none;
        font-size: 0.85rem;
        padding: 0;

        &::placeholder { color: rgba(255, 255, 255, 0.1); }
    }
}